.create_btn{
    position:fixed;
    bottom: 50px;
    right: 50px;
    height:60px;
    width:60px;
    display:flex;
    justify-content:center;
    align-items: center;  
    background-color: $color_blue;
    border: none;
    border-radius:50%;    
    font-size:60px;
    color: white;
    cursor:pointer;
    transform: rotate(0);
    &:hover{
        background-color: coral;
        transform: rotate(90deg);
        transition: .5s;
    }
}

